name: Build

on:
  push:
    branches:
      - master

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2
        # Include all history and tags
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.8'

      - name: Install cibuildwheel
        run: |
          python -m pip install cibuildwheel==1.6.4

      - name: Build wheels
        run: |
          python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_SKIP: pp* cp27-win*

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  build_wheels_aarch64:
    name: Build wheels on linux ${{ matrix.arch }}
    strategy:
      matrix:
        pyver: [cp36-cp36m, cp37-cp37m, cp38-cp38, cp39-cp39]
        arch: [aarch64]
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      py: /opt/python/${{ matrix.pyver }}/bin/python
      img: quay.io/pypa/manylinux2014_${{ matrix.arch }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up QEMU
      id: qemu
      uses: docker/setup-qemu-action@v1
    - name: Available platforms
      run: echo ${{ steps.qemu.outputs.platforms }}
    - name: Setup environment
      run: |
        docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws \
          ${{ env.img }} bash -c "for xpy in `which /opt/python/*/bin/python`; do pyver=.env`echo $xpy | grep -o -E '[0-9]+' | head -1 | sed -e 's/^0\+//'`; echo " $xpy -m venv $pyver";  $xpy -m venv $pyver; done"
    # ${{ env.img }} bash -c "${{ env.py }} -m venv .env"
    
    #- name: Install tools
    #  run: |
    #    docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws \
    #      ${{ env.img }} bash -c "source .env/bin/activate && python -m pip install -U setuptools wheel Cython"
    #- name: Make wheel
    #  run: |
    #    docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws \
    #      ${{ env.img }} bash -c "source .env/bin/activate &&  python setup.py bdist_wheel"
    #- name: Repair wheel wheel
    #  run: |
    #    docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws \
    #      ${{ env.img }} bash -c "source .env/bin/activate && auditwheel repair dist/*.whl --wheel-dir wheelhouse/"
    #- name: Upload artifacts
    #  uses: actions/upload-artifact@v2
    #  with:
    #    path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        # Include all history and tags
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.7'

      - name: Build sdist
        run: |
          pip install cython
          python setup.py sdist

      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
          # To test: repository_url: https://test.pypi.org/legacy/
